/* .main_div-s{
    background-color: blanchedalmond;
    width: 25%;
    height: 500px;
}
.div{
    background-color: black;
    width: 50%;
    height: 150px;
    margin-left: 50px;
}
.main_div-s:hover{
    box-shadow: 1px 2px 4px blanchedalmond;
} */
