*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(209, 209, 209);
   
}
h1{
    color: black;
}
input {
    /* width: 400px; */
    padding: 10PX 20%;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.main_class-s{
   background-image: linear-gradient(to right, rgb(155, 129, 155) , rgb(148, 145, 145));
    width: 300px;
    height: auto;
    margin-left: 400px;
    margin-top: 30px;

}
.addbtn {
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    border-left: 1px solid rgb(202, 202, 202);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.input_tag-s{
    margin-left: 300px;
}
.editicon-s{
    background-color: yellow;
    width: 40px;
    height: auto;
    margin-left: 5px;
    
}
.deleteicon-s{
    background-color: red;
    width: 40px;
    height: auto
}
.btn-class-s{
    background-color: violet;
    width: 300px;
    height: auto;
}